// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Mixin para container responsivo 
@mixin container($min: 360px, $preferred: 100%, $max: 1200px, $padding: 1rem) {
	width: clamp($min, $preferred, $max);
	margin: 0 auto;
	padding: $padding;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns );
}



// Mixin general para media queries hacia arriba 
@mixin media-up($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);

	@if $value !=null {
		@media (min-width: $value) {
			@content;
		}
	}
}

// Mixin general para media queries hacia abajo 
@mixin media-down($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);

	@if $value !=null {
		@media (max-width: $value) {
			@content;
		}
	}
}



// Mixin general para botones
@mixin button-base(
  $bg: $color__background-button,
  $color: #fff,
  $padding: 0.75rem 1.5rem,
  $radius: 4px
) {
  display: inline-block;
  background-color: $bg;
  color: $color;
  padding: $padding;
  border: none;
  border-radius: $radius;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($bg, 10%);
  }

  &:disabled {
    background-color: lighten($bg, 20%);
    cursor: not-allowed;
  }
}





// Mixin para pill
@mixin pill(
  $bg: $color__on-sale,
  $color: #fff,
  $padding: 0.50rem 0.75rem,
  $radius: 50rem,
  $font-size: 0.875rem
) {
  display: inline-block;
  background-color: $bg;
  color: $color;
  padding: $padding;
  border-radius: $radius; // grande para que sea pill
  font-size: $font-size;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}





// Mixin para alertas tipo Bootstrap
@mixin alert($bg-color, $text-color, $border-color) {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  background-color: $bg-color;
  color: $text-color;
}


