// .site {
// 	display: grid;
// 	grid-template-columns: auto ($size__site-sidebar);
// 	grid-template-areas:
// 		"header header"
// 		"main sidebar"
// 		"footer footer";
// }

.site {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.site-grid-container {

	@include container;

	display: grid;
	grid-gap: $grid__margin;
	grid-template-areas:
		"header"
		"sidebar"
		"main"
		"footer";

	@include media-up(lg) {
		grid-template-areas:
			"header header"
			"main sidebar"
			"footer footer";
	}

}

.site-header {
	display: flex;
}

.site-header-container {
	@include container;
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden;
	/* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	display: flex;

}

.site-footer-container {
	@include container;

	grid-area: footer;
}

@import "no-sidebar";