.no-sidebar {

	// .site {
	// 	display: grid;
	// 	grid-template-columns: auto;
	// 	grid-template-areas:
	// 		"header"
	// 		"main"
	// 		"footer";
	// }

	.site-grid-container {
		display: grid;
		// grid-template-rows: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";

		@include media-up(lg) {
			grid-template-areas:
				"header header"
				"main main"
				"footer footer";
		}
	}
}